---
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="Tengdu Community Guidelines"
	description="Tengdu Community Guidelines"
	pubDate={new Date('October 04 2023')}
>
  <p>
    Welcome to Tengdu, a community built on the principles of friendliness, politeness, respect, and inclusivity. We're here to help you build meaningful friendships and connections while ensuring a positive and enjoyable experience for everyone.
  </p>
  

  <h4>1. Be Friendly and Respectful</h4>
  <ul>
    <li>
      Treat others with kindness and respect. Remember that behind each profile is a real person looking to make friends.
    </li>
    <li>
      Embrace diversity and inclusivity. Our community is enriched by people from various backgrounds and cultures.
    </li>
  </ul>


  <h4>2. Zero Tolerance for Hateful Behavior</h4>
  <ul>
    <li>
      We have a zero-tolerance policy for hateful behavior, including but not limited to racism, transphobia, homophobia, xenophobia, and discrimination. Such behavior will not be tolerated.
    </li>
  </ul>


  <h4>3. No Sexually Suggestive Behavior</h4>
  <ul>
    <li>
      As stated in our Terms of Service, sexually suggestive behavior is strictly prohibited. Engaging in such behavior can result in account termination or suspension.
    </li>
  </ul>


  <h4>4. Reporting Mechanism</h4>
  <ul>
    <li>
      We value your safety and comfort within the Tengdu community. If you encounter inappropriate behavior or content, please use our in-app reporting mechanism to flag it. Your report helps us maintain a safe environment for all users.
    </li>
    <li>
      Additionally, you have the option to remove yourself from conversations at any time if you no longer wish to participate.
    </li>
  </ul>


  <h4>5. Enforcement of Guidelines</h4>
  <p>
    Violations of these Community Guidelines may result in various actions, including but not limited to:
  </p>
  <ul>
    <li>
      Warnings: A notification may be issued to remind users of our guidelines.
    </li>
    <li>
      Temporary Suspension: Accounts may be temporarily suspended to address violations and encourage compliance.
    </li>
    <li>
      Termination: In cases of severe or repeated violations, accounts may be permanently terminated.
    </li>
  </ul>


  <h4>6. Our Discretion</h4>
  <p>
    The enforcement of these guidelines is at our discretion. We reserve the right to take appropriate actions to maintain a positive and respectful community without requiring further information from users.
  </p>
  <p class="bold">
    By using Tengdu, you agree to abide by these Community Guidelines and contribute to a friendly and respectful community. Together, we can create lasting connections and friendships.
  </p>
  <p>
    If you have any questions or concerns about our Community Guidelines, please don't hesitate to reach out to us at <a href="mailto:info@tengdu.app">info@tengdu.app</a>.
  </p>
</Layout>