---
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="Tengdu Cookie Policy"
	description="Tengdu Cookie Policy"
	pubDate={new Date('October 04 2023')}
>
    <h4>1. Types of Cookies and Tracking Technologies</h4>
    <p>
        Tengdu utilizes several types of cookies and tracking technologies to enhance your experience on our platform:
    </p>
    <ul>
        <li>
        Session Cookies: These cookies are essential for user authentication and are temporary. They expire when you log out or close your browser.
        </li>
        <li>
        Analytics Cookies: We use Google Analytics to collect anonymous data on website traffic and usage patterns. This information helps us understand how users interact with Tengdu and improve our services.
        </li>
        <li>
        Behavioral Tracking: We use HotJar to track user behavior within the app, allowing us to analyze and enhance the user experience.
        </li>
    </ul>
    

    <h4>2. Purpose of Cookies</h4>
    <p>
        Cookies and tracking technologies are employed for the following purposes:
    </p>
    <ul>
        <li>
        Authentication: Session cookies are used to maintain user authentication and ensure secure access to the app.
        </li>
        <li>
        Analytics: Analytics cookies help us gather insights into app usage, enabling us to optimize and enhance our services.
        </li>
        <li>
        User Experience: Behavioral tracking with HotJar helps us understand how users interact with the app, allowing us to make improvements for a more user-friendly experience.
        </li>
    </ul>


    <h4>3. Cookie Preferences</h4>
    <p>
        We respect your privacy and offer you the ability to manage your cookie preferences. You can choose to opt in or out of certain types of cookies, such as analytics cookies, through the app's settings.
    </p>


    <h4>4. Cookie Duration</h4>
    <p>
        Session cookies, which enable user authentication, are short-lived and expire no later than two weeks from the time you log out or close your browser.
    </p>


    <h4>5. Third-Party Cookies</h4>
    <p>
        Tengdu does not currently use third-party cookies for advertising or tracking purposes. However, we anticipate that in the future, we may utilize third-party analytics services and advertising cookies to enhance our app's functionality, provide personalized content, and improve our services. When we implement these features, we will update this policy accordingly.
    </p>
    <p class="bold">
        By using Tengdu, you consent to the use of cookies and tracking technologies as described in this policy, including any future use of third-party cookies for these purposes. 
    </p>
    <p>
        For any questions or concerns about our Cookie Policy, please contact us at <a href="mailto:info@tengdu.app">info@tengdu.app</a>.
    </p>
</Layout>