---
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="Tengdu GDPR Data Privacy Policy"
	description="Tengdu GDPR Privacy Policy for users."
	pubDate={new Date('October 04 2023')}
>
    <p>
        Thank you for choosing Tengdu! Your privacy and data protection are of utmost importance to us. This Privacy Policy explains how we collect, use, disclose, and protect your personal information. By using Tengdu, you consent to the practices described in this policy.
    </p>


    <h4>1. Information We Collect</h4>
    <p>
        We may collect and process the following types of personal information:
    </p>
    <ul>
        <li>
            User-Provided Information: When you register an account, create a profile, or interact with Tengdu, you may provide us with personal information such as your name, email address, and profile details.
        </li>
        <li>
            Automatically Collected Information: We may collect certain information automatically, including your device information, IP address, and usage data, to improve our services and user experience.
        </li>
    </ul>


    <h4>2. How We Use Your Information</h4>
    <p>
        We use your personal information for the following purposes:
    </p>
    <ul>
        <li>
            Providing Services: To offer and maintain our services, including matching you with potential friends based on your preferences.
        </li>
        <li>
            Communication: To communicate with you regarding your account, updates, and support.
        </li>
        <li>
            Analytics and Improvements: To analyze user trends and preferences, improve our services, and enhance user experiences.
        </li>
    </ul>


    <h4>3. Data Sharing and Disclosure</h4>
    <p>
        We may share your personal information with:
    </p>
    <ul>
        <li>
            Service Providers: Trusted third-party service providers who assist us in delivering our services.
        </li>
        <li>
            Legal Requirements: When required by law or to protect our rights, safety, or security.
        </li>
    </ul>
    

    <h4>4. Data Security</h4>
    <p>
        We take reasonable measures to protect your personal information. In addition, we use Google Cloud Messaging to secure chats between different users, ensuring the confidentiality of your communications.
    </p>


    <h4>5. Cookies and Tracking</h4>
    <p>
        We may use cookies and similar tracking technologies to enhance your user experience. You will have the option to choose whether to allow essential cookies or other types of cookies.
    </p>


    <h4>6. Changes to this Privacy Policy</h4>
    <p>
        We may update this Privacy Policy from time to time. Any changes will be posted on our website, and your continued use of Tengdu after such changes constitutes acceptance of the revised policy.
    </p>


    <h4>7. Contact Us</h4>
    <p>
        If you have any questions or concerns about this Privacy Policy or your personal information, please contact us at <a href="mailto:info@tengdu.app">info@tengdu.app</a>.
    </p>


    <h4>8. Unsubscribing or deleting your account</h4>   
    <p>
        If you wish to unsubscribe or delete your account, please contact us at <a href="mailto:info@tengdu.app">info@tengdu.app</a> with your request.
    </p>


    <h4>9. Third-Party Advertising</h4>
    <p>
        In the future, we may provide information to third-party advertisers. We will always ensure that such data sharing complies with applicable data protection laws and will update this Privacy Policy accordingly.
    </p>
    <p class="bold">
        Thank you for trusting Tengdu with your personal information. We're committed to providing you with a safe and enjoyable experience while building meaningful connections.
    </p>
</Layout>