---
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="Tengdu Terms of Service"
	description="Tengdu Terms of Service"
	pubDate={new Date('October 04 2023')}
>
	<h4>1. Introduction</h4>
        <p>
            Welcome to Tengdu, a platform dedicated to helping individuals connect with others for friendship and social interaction. These Terms of Service ("ToS") govern your use of the Tengdu mobile application and related services (the "App") provided by Tengdu, currently represented by Luke Hening, residing in Hafnarfjörður, 220, Iceland.
        </p>


        <h4>2. Applicability and Jurisdiction</h4>
        <p>
            These ToS are applicable to users primarily within the European Union (EU) and will extend to include the United States and Canada in the future. By using the App, you agree to abide by these ToS and acknowledge the intended jurisdiction.
        </p>


        <h4>3. User Conduct and Prohibited Behavior</h4>
        <p>
            Tengdu is designed for building friendships, not for dating or sexually suggestive interactions. We strictly prohibit any sexually suggestive behavior or content on the App. Users are expected to treat others with friendliness and respect. Failure to adhere to these guidelines may result in the termination or suspension of your account.
        </p>


        <h4>4. Account Termination and Suspension</h4>
        <p>
            Accounts found in violation of these ToS may be subject to suspension or termination at our discretion. We reserve the right to enforce these actions in cases of prohibited behavior or non-compliance with our guidelines.
        </p>


        <h4>5. Privacy and Data Protection</h4>
        <p>
            Your use of the App is also governed by our Privacy Policy, which outlines how we collect, use, and protect your personal information. By using Tengdu, you consent to the practices described in our Privacy Policy.
        </p>


        <h4>6. Contact Information</h4>
        <p>
            For questions, concerns, or to report violations of these ToS, please contact us at <a href="mailto:info@tengdu.app">info@tengdu.app</a>.
        </p>


        <h4>7. Changes to the ToS</h4>
        <p>
            We may update these ToS from time to time to reflect changes in the App's features or legal requirements. Any updates will be posted on our website, and your continued use of Tengdu after such changes constitutes acceptance of the revised ToS.
            <br><br>
            Thank you for using Tengdu to build lasting friendships with others.
        </p>

</Layout>
