---
const today = new Date();
---

<footer class="p-6 bg-black text-black text-center">
  <section
    class="policies container text-center text-white font-bold space-y-4 max-w-3xl mx-auto"
  >
    <a
      class="text-white no-underline"
      href="/policies/termsOfService"
      target="_blank"
      rel="noreferrer"><p>Terms of service</p></a
    >
    <a
      class="text-white no-underline"
      href="/policies/privacyPolicy"
      target="_blank"
      rel="noreferrer"><p>Privacy policy</p></a
    >
    <a
      class="text-white no-underline"
      href="/policies/communityGuidelines"
      target="_blank"
      rel="noreferrer"><p>Community guidelines</p></a
    >
    <a
      class="text-white no-underline"
      href="/policies/cookiePolicy"
      target="_blank"
      rel="noreferrer"><p>Cookie policy</p></a
    >
  </section>
  &copy; {today.getFullYear()} Tengdu. All rights reserved.
</footer>
