@font-face {
    font-family: 'Nunito';
    src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
        url('Nunito-ExtraLight.woff2') format('woff2'),
        url('Nunito-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightItalic'),
        url('Nunito-ExtraLightItalic.woff2') format('woff2'),
        url('Nunito-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('Nunito-Regular.woff2') format('woff2'),
        url('Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito Black'), local('Nunito-Black'),
        url('Nunito-Black.woff2') format('woff2'),
        url('Nunito-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito Bold'), local('Nunito-Bold'),
        url('Nunito-Bold.woff2') format('woff2'),
        url('Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

